$menuHeight: 80px;

:host {
    display:block;
    background-color: #2196F3;
    height:$menuHeight;
    line-height:$menuHeight;
    padding:0 20px;
}

.language-button {
    background-color: #30bcff;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
